body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-weight: 100;
    color: white;
    height: 100%;
    width: 100%;
    /* background: rgb(2,0,36); */
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgb(0, 4, 255) 100%);
    padding: 0px;
    margin: 0px !important;
}
#header{
    display: flex;
    flex-direction: row;
    padding: none;
    margin: none;
    width: 100vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background: rgba(56, 77, 85, 0.6);;
}
h1{
    width: fit-content;
    border: 4px solid white;
    padding: 1rem 3rem;
    border-radius: 15px;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    padding: 1rem;
    font-family: sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0.171);
    border: 2px solid white;
    border-radius: 10px;
}
form button{
    margin-top: .25rem;
    padding: .5rem 0rem;
    font-family: sans-serif;
    color: white;
    background: rgba(69, 81, 175, 0.381);
    border: 2px solid white;
    border-radius: 10px;
}
#weatherInfo{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#locationName{
    text-align: center;
}
#weatherData{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    margin: 1rem;
    /* height: 400px; */
    background-color: rgba(17, 0, 74, 0.527);
    /* border: 3px solid rgba(255, 255, 255, 0.014); */
    border-radius: 20px;
}
#currentLocation{
    font-size: 2.5rem;
    margin-bottom: 0rem;
    margin-top: 1rem;
}
#currentTemp{
    font-size: 5rem;
    margin-bottom: 0rem;
    margin-top: .5rem;
}
#hourlyTitle{
    display: flex;
    padding-left: 2.5rem;
    align-self: flex-start;
    margin-bottom: 0rem;
}
#hourlyTemps{
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-x: scroll;
    max-width: 95%;
    height: 100%;
    margin: 1rem;
    padding: 0rem 0rem;
    background-color: rgba(4, 4, 124, 0.395);
    border: 3px solid rgba(255, 255, 255, 0.025);
    border-radius: 10px;
}
#hourlyTemps div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
#hourlyTemps::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #1e64965c;
	border-radius: 10px;
    /* height: 5px; */
    scrollbar-width: thin;
}

#hourlyTemps::-webkit-scrollbar
{
	width: 10px;
	background-color: #f5f5f500;
}

#hourlyTemps::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background: linear-gradient(0deg, rgb(55, 48, 190) 0%, rgba(9,9,121,1) 30%, rgb(0, 4, 255) 100%);
}
.hourIcon{
    max-height: 40px;
    margin-bottom: 0rem;
}
.hourTime{
    margin-bottom: 0rem;
}
.hourTemp{
    margin-top: 0.5rem;
}
#daysContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* overflow-y: scroll; */
    width: 95%;
    height: 100%;
    margin: 1rem;
    padding: 0rem 0rem;
    background-color: rgba(4, 4, 124, 0.395);
    border: 3px solid rgba(255, 255, 255, 0.025);
    border-radius: 10px;
}
#dailyTitle{
    display: flex;
    padding-left: 2.5rem;
    align-self: flex-start;
    margin-bottom: 0rem;
}
.dayInfo{
    display: flex;
    flex-direction: row;
    padding: 0rem 0.75rem;
    justify-content: space-between;
    border-top: 1px solid white;
}
#daysContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #1e64965c;
	border-radius: 10px;
    /* height: 5px; */
    scrollbar-width: thin;
}

#daysContainer::-webkit-scrollbar
{
	width: 10px;
	background-color: #f5f5f500;
}

#daysContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background: linear-gradient(0deg, rgb(55, 48, 190) 0%, rgba(9,9,121,1) 30%, rgb(0, 4, 255) 100%);
}
.dayIcon{
    max-height: 40px;
    margin-bottom: 0rem;
}
.dayMinTemp{
    color: rgba(255, 255, 255, 0.541);
}